[Service]
Type=simple
ExecStart=/usr/local/bin/balancer_ctrl
User=pi
WorkingDirectory=/usr/local/share/go/src/github.com/trnila/balancer_ctrl/
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
{% if CTRL_SERIAL is defined %}
Environment=CTRL_SERIAL={{ CTRL_SERIAL }}
{% endif %}
Environment=CTRL_BIND=:80
Restart=always

[Install]
WantedBy=multi-user.target
